<dx-scroll-view>
    <dx-button style="margin: 25px;" [stylingMode]="contained" [type]="normal" [text]="buttonText" [width]="200" (onClick)="openPopup($event)"
            (onEscapeKey)="true">
    </dx-button>

    <h3 style="margin: 15px 25px;">Bug reproduction steps</h3>
    <ol style="margin-top: 0; line-height: 1.5rem;">
        <li>Start Safari and open this application on an iPad Pro in Landscape mode or use a Mac and Xcode to emulate the iPad Pro.</li>
        <li>At the upper left corner there is a button with "Popup öffnen". Click this button to open the popup.</li>
        <li>After the popup has opened click the little triangle at the right side of the input field that is labeled "Lieblingsfarbe" to open the color box.</li>
    </ol>
    <br>
    <h4 style="margin: 15px 25px;">Expected behavior</h4>
    <p style="margin: 8px 30px;">
        The color box opens and is able without restrictions.
    </p>
    <br>
    <h4 style="margin: 15px 25px;">Actual behavior</h4>
    <p style="margin: 8px 30px;">
        The color box opens. At the same time the keyboard opens moving the color box upwards so that most of the color box is off screen and therefor not usable.
    </p>
</dx-scroll-view>

<dx-popup (onInitialized)="onPopupInit($event)" title="create person" [showCloseButton]="false" [visible]="visible"
        [showTitle]="true" maxHeight="700" maxWidth="1170">
    <dxi-toolbar-item toolbar="bottom" location="before" widget="dxButton" [options]="abortButtonOptions"></dxi-toolbar-item>
    <dxi-toolbar-item toolbar="bottom" location="after" widget="dxButton" [options]="saveButtonOptions"></dxi-toolbar-item>
    
    <div *dxTemplate="let data of 'content'">
        <dx-tab-panel [animationEnabled]="true" [showNavButtons]="true">
            <dxi-item title="General Data">
                <div *dxTemplate>
                    <dx-scroll-view>
                        <form>
                            <dx-form id="newForm" [(formData)]="formData" [colCount]="5">

                                <dxi-item itemType="group" [colSpan]="3">
                                    <dxi-item dataField="name" [isRequired]="true" [label]="{ text: 'Name' }"></dxi-item>
                    
                                    <dxi-item dataField="sex" editorType="dxSelectBox">
                                        <dxo-label text="Sex"></dxo-label>
                                    </dxi-item>
                    
                                    <dxi-item dataField="favoriteColor" editorType="dxColorBox">
                                        <dxo-label text="Favorite color"></dxo-label>
                                    </dxi-item>
                                </dxi-item>
                
                            </dx-form>
                        </form>
                    </dx-scroll-view>
                </div>
            </dxi-item>
        </dx-tab-panel>
    </div>
</dx-popup>
      